
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örneği-KATEGORİ</h3>

<table>
    <tr>
        <th>KATEGORİ ID</th>
        <th>  ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>

    </tr>





</table>